---
const { title, video, info, gameLink, discordLink, steamLink, downloadLink } =
    Astro.props;
import discord from "../../assets/icons/discord.webp";
import steam from "../../assets/icons/steam.png";
import download from "../../assets/icons/download.png";
---

<div class="game-block">
    <div class="game-block-left">
        <h1 class="title">{title}</h1>
        <div class="social-icons">
            <a href={discordLink}> <img src={discord.src} alt="" /></a>
            <a href={steamLink}> <img src={steam.src} alt="" /></a>
            <a href={downloadLink}> <img src={download.src} alt="" /></a>
        </div>
    </div>

    <div class="game-block-center">
        <img src={video} alt="Something About Me" />
    </div>

    <div class="game-block-right aboutHover">
        <p>
            {info}
        </p>
        <a href={gameLink} target="_blank" rel="noopener">ABOUT</a>
    </div>
</div>

<style>
    .game-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #4b5987;
        padding: 40px;
        gap: 40px;
        color: #bdb29e;
        margin: 10px 0;
    }

    .game-block-left,
    .game-block-center,
    .game-block-right {
        flex: 1;
        justify-content: center;
        align-items: center;
    }

    .game-block-left h1 {
        background-color: var(--slider);
        font-size: 48px;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    .social-icons {
        display: flex;
        justify-content: space-between;
    }

    .social-icons a img {
        width: 80px;
        margin-right: 10px;
    }

    .game-block-center {
        display: flex;
        justify-content: center;
    }
    .game-block-center img {
        max-width: 100%;
        height: auto;
        display: block;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

    .game-block-right p {
        font-size: 16px;
        margin-bottom: 20px;
        line-height: 1.6;
        color: #d4c3aa;
    }
    .game-block-right {
        padding: 10px;
    }
</style>
