---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout pageTitle={frontmatter.title}>
    <div class="characterPage_container">
        <div class="characterPage_mainInfo">
            <h1 class="characterPage_title title">{frontmatter.name}</h1>
            <p class="characterPage_about">{frontmatter.about}</p>
            <div class="tags">
                You can meet the hero here:
                {
                    frontmatter.tags.map((tag: string) => (
                        <p class="tag">
                            #<a href={`/games/${tag}`}>{tag}</a>
                        </p>
                    ))
                }
            </div>
        </div>
        <div class="characterPage_shortInfo">
            <img src={frontmatter.image} alt="" />
            <h1>Biographical Information</h1>
            <div class="shortInfo_block">
                <div class="shortInfo_block_one">
                    <div class="shortInfo_block_title"></div>
                    <ul>
                        <li>Age: {frontmatter.age}</li>
                        <li>Full name: {frontmatter.fullname}</li>
                        <li>Sex: {frontmatter.sex}</li>
                    </ul>
                </div>
                <div class="shortInfo_block_two">
                    <div class="shortInfo_block_title"></div>
                    <ul>
                        <li>Age: {frontmatter.age}</li>
                        <li>Full name: {frontmatter.fullname}</li>
                        <li>Sex: {frontmatter.sex}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</Layout>

<style>
    a {
        text-decoration: none;
        color: #00539f;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
    }

    .tag {
        margin: 0.25em;
        border: dotted 1px #a1a1a1;
        border-radius: 0.5em;
        padding: 0.2em 1em;
        font-size: 0.8em;
        background-color: #f8fcfd;
    }
    .tag:hover {
        background-color: #44c8e9;
    }

    .characterPage_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px;
    }

    .characterPage_mainInfo {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 0 10px 0 0;
    }

    .characterPage_title {
        /* Title styles */
    }

    .characterPage_about {
        /* About paragraph */
    }

    .characterPage_shortInfo {
        /* Short info section */
    }

    .shortInfo_block {
        /* Block that contains two sections */
    }
    .shortInfo_block li {
        list-style: none;
    }

    .shortInfo_block_one {
        /* First short info block */
    }

    .shortInfo_block_two {
        /* Second short info block */
    }

    .shortInfo_block_title {
        /* Title inside each short info block */
    }

    .tags {
        /* Tags container */
    }

    .tag {
        /* Individual tag item */
    }
</style>
