---
import Layout from "./Layout.astro";
import CharacterContainer from "../components/character/CharactersContainerBlock.astro";
import downloadPic from "../assets/icons/download.png";
import downloadSteam from "../assets/icons/steam.png";
const { frontmatter } = Astro.props;
const screenshots = frontmatter.screenshots;
const characters = frontmatter.characters;
---

<Layout pageTitle={frontmatter.title}>
    <div class="game__container">
        <div class="game_banner">
            <img class="banner_image" src={frontmatter.image} alt="" />
            <div class="banner_links">
                <a href="" class="download-direct">
                    <img src={downloadPic.src} alt="" />
                </a>
                <a href="" class="download-steam"
                    ><img src={downloadSteam.src} alt="" />
                </a>
            </div>
        </div>
        <div class="game_video">
            <iframe
                width="100%"
                height="400"
                src={frontmatter.youtubeLink}
                title="YouTube video"
                frameborder="0"
                allowfullscreen
            >
            </iframe>
        </div>

        <div class="game_mainInfo">
            <h1 class="game_mainInfo_title">"Mysterios thunderfuck"</h1>
            <div class="game_mainInfo_block">
                <div class="game_mainInfo_about">
                    <h1 class="about_title">About</h1>
                    <p class="about_text">
                        {frontmatter.about}
                    </p>
                </div>
                <ul class="game_mainInfo_characteristics">
                    <li class="characteristic">Genre: {frontmatter.genre}</li>
                    <li class="characteristic">
                        Release Date: {frontmatter.releaseDate}
                    </li>
                    <li class="characteristic">
                        Available on: {frontmatter.availability}
                    </li>
                </ul>
            </div>
        </div>
        <div class="game_buy_links">
            <h1 class="game_buy_links_title">BUY NOW</h1>
            <a href="" class="download-direct">
                <img src={downloadPic.src} alt="" />
            </a>
            <a href="" class="download-steam"
                ><img src={downloadSteam.src} alt="" />
            </a>
        </div>
        <div class="game_screenshots">
            <div class="game_screenshots_title title">Screenshots:</div>
            <div class="game_screenshots_block">
                {
                    screenshots.map((screenshot: any) => (
                        <img
                            src={screenshot}
                            alt="Game screenshot"
                            class="screenshot"
                        />
                    ))
                }
            </div>
        </div>
        <div class="game_characters">
            <h1 class="title">Characters:</h1>

            <CharacterContainer names={characters} />
        </div>
    </div>
</Layout>

<style>
    .game__container {
    }

    .game_banner {
        width: 100%;
        position: relative;
    }

    .banner_image {
        width: 100%;
        max-height: 400px;
    }
    .banner_links {
        position: absolute;
        bottom: 0;
    }
    .banner_links img {
        width: 40px;
    }
    .download-direct:hover,
    .download-steam:hover {
        background-color: beige;
        opacity: 0.8;
    }

    .game_video {
    }

    .game_mainInfo {
        width: 100%;
        background: var(--slider);
    }
    .game_mainInfo_block {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .game_mainInfo_title {
        text-align: center;
    }

    .game_mainInfo_about {
    }

    .game_mainInfo_characteristics {
        text-decoration: none;
    }

    .characteristic {
        text-decoration: none;
    }

    .game_buy_links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: var(--layout);
    }
    .game_buy_links img {
        width: 40px;
    }

    .game_buy_links_title {
    }

    .game_screenshots {
    }
    .game_screenshots_block {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }

    .game_screenshots_title {
    }

    .screenshot {
        width: calc(50% - 5px);
        height: auto;
    }

    .game_characters {
    }
</style>
